SECRET_KEY=django-insecure-eoxixsg$q7geq8tf0eu+#dln)g@w*h29$i$gnx1d7qob#m^z22
DEBUG=false
BASE_URL_ADDRESS=http://ci34005-django.tw1.ru/
TOKEN=85b705d7d5d8f412074f11b1494a2b
USERNAME_ADMIN = admin
PASSWORD_ADMIN = 1234554321
CHAT_DECK_URL = https://api.chat2desk.com/v1/