{% extends "index.html" %}

{% block title %} Список учеников  {% endblock %}
{% block h1 %} Список учеников  {% endblock %}


{% block content %}
             {% if error %}
                {% block h2 %} {{ error }} {% endblock %}
            {% endif %}
            <table>
                 <tr>
                    <td>Имя</td>
                    <td>Телефон</td>
                    <td>Пароль</td>
                     <td>Дата посещения</td>
                 </tr>
                <form method="POST">
                    {% csrf_token %}
                    <td>
                        <input id="username" type="text" placeholder="Имя" name="username" maxlength="40">
                    </td>
                    <td>
                        <input id="phone" type="text" placeholder="Номер телефона" name="phone" maxlength="11">
                    </td>
                    <td>
                        <input id="phone" type="text" placeholder="Пароль" name="password" maxlength="11">
                    </td>
                    <td>
                        <button type="submit" name="create_user_btn">Добавить ученика</button>
                    </td>
                </form>
                {% if users %}
                    {% for user in users %}
                      <tr>
                        <td>{{ user.username }}</td>
                        <td>
                            {% if not user.phone %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <input id="phone" type="text" placeholder="Номер телефона" name="phone" maxlength="11">
                                    <input type="hidden" name="user_id" value={{ user.id }}>
                                    <button type="submit" name="update_phone_btn">Добавить</button>
                                </form>
                            {% else %}
                                {{ user.phone }}
                            {% endif %}
                        </td>
                        <td>{{ user.keyboardPwd }}</td>
                        <td>{% if not user.lockDate %}
                                Посещений нет
                            {% else %}
                                {{ user.lockDate }}
                            {% endif %}</td>
                      </tr>
                    {% endfor %}
                {% endif %}
            </table>
{% endblock %}